html, body {
	height: 100%;
}

body {
	color: #373737;
	font-family: 'Lato', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.section {
	flex-grow: 1;
	flex-basis: 0;
	width: 100%;
}

.error {
	color:red;
}

.search {
	color: #1ED760;
	background-color: #373737;
	display:flex; 
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	height: 80vh;
	font-size: 12pt;
	box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.search-form {
	text-align: center;
}

.search-form h1 {
	color: rgb(30, 215, 95);
	font-size: 2.5em;
	font-weight: 900;
	background-color: rgb(55, 55, 55);
	text-shadow: rgb(10, 10, 10) 1px 1px 1px;
}

.search-form input {
	height: 1.8em;
	font-size: 1.5em;
	padding:0.1em 0.4em;
	width: 400px;
	border: solid 2px black;
}

.search-form label {
	display: block;
	text-align: left;
	padding: 7px 3px;
}

.tracks {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin:10px 0; 
}

.row {
	display: flex;
	padding: 15px;
	width: 700px;
	min-height: 100px;
	border-bottom: solid 1px gainsboro;
}

.cover {
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.cover img {
	width: 100%;
	height: 100%;
}

.info audio {
	margin-top:6px; 
	width: 550px;
}

.info div {
	margin-bottom:3px;
}
